<html>
  <head>
    <meta content='width=device-width' name='viewport'>
      <title>Kill Chord</title>
      <link href='css/foundation.min.css' rel='stylesheet'/>
      <link href='css/app.css' rel='stylesheet'/>
      <script src='js/vendor/custom.modernizr.js'></script>
      <script src='js/vendor/jquery.js'></script>
      <script src='js/foundation/foundation.reveal.js'></script>
      <script src='js/foundation.min.js'></script>
    </meta>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
	<h3 id="site-header" class="subheader">Hello!</h3>
      </div>
    </div>
  </body>
</html>
